body, html {
	background: linear-gradient(#087ee0, #afd1ec);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family:arial;

}
h1{
	text-align: center;
}
select,input,button{
    padding: 9px;
    border-radius: 4px;
    margin-top: 5px;
}

#set{
	margin-left:20px;
}

#search{
	display: table;
    margin: 0 auto;
    margin-bottom: -40px;
}
table#tablesTests{
    margin: auto;
    padding: 20px;
    width: 50%;
    background: #92ceff;
    margin-top: 50px;
}
th{
	border-bottom: 2px solid darkgray;
    text-align: left;
    padding: 10px;
}
td,td{
	padding:10px;
}

#data{
	display:flex;
	margin:0 auto;
	background: #70bfff;
	padding: 50px;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 45%;
}

#newInputs input{
	margin: 10px;	
}

#data select{
	width:100%;
	
}
#newRowForm{
	padding:20px;
	background:#92ceff;
	margin-top: 45px;
}

#newRowButton{
	float: right;
}
button#showForm{
	float:right;
}
input#addButton{
	margin-left: 190px;
}
footer{

	bottom:0;
}
