body{
    background: linear-gradient(to right, #c2e59c, #64b3f4);
	font-family:arial;
}
h1{
	text-align: center;
}

#set{
	padding-top: 30px;
}

table#tablesTests{
text-align: center;
margin: auto;
padding: 20px;
width: 50%;
}

#data{
display:Table;
margin:0 auto;
}

#newInputs input{
margin: 10px;	
}

#data select{
	width:100%;
}